.highscore {
    position: absolute;
    top: 15px;
    left: 25px;
}
.time {
    position: absolute;
    top: 15px;
    right: 25px;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quiz-zone {
    border: 1px black solid;
}